html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.col-sm-6 {
    width: 50%;
    height: 20%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

.bootstrap-table .fixed-table-pagination > .pagination-detail .page-list {
    visibility: hidden !important;
}

span.page-list {
    visibility: hidden !important;
}